{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<section>
<br>
<br>
{% for cart in cartas  %}
 <p>{{ cart.nombre }}</p>
{% endfor %}
<br>
<br>
{% for cart1 in cartas1  %}
 <p>{{ cart1.nombre }}</p>
{% endfor %}
<br>
<br>
{% for cart3 in cartas2  %}
 <p>{{ cart2.nombre }}</p>
{% endfor %}
<br>
<br>
{% for cart3 in cartas3  %}
 <p>{{ cart3.nombre }}</p>
{% endfor %}







</section>


</body>
</html>