{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   <title>Sala</title>
   <link rel="stylesheet" href="{% static 'sala.css' %}">
</head>
<body>

   <div class="header">
      <h1>Quick Match</h1>
      <h4>Crea una sala o ingresa el codigo de la sala</h4>
   </div>

   <div class="section">


      <div class="container">
         <div class="card">
            <h3>Crear Sala </h3>
   
            <p>crea una sala , para jugar con tus amigos y disfrutar de unas hermosas
               partidas
            </p>
   
            <a href="{% url 'barajar' %}"><button>Crer Sala a</button></a>
   
         </div>
   
         <div class="card">
            <h3>Entrar a una sala </h3>
   
            <p>ingresa el codigo de la sala para jugar con tus amigos
            </p>
   
            <button>Entrar a Sala</button>
   
         </div>

      </div>

     

   </div>
   
</body>
</html>